.stApp {
    background-color: #ffff !important;
}

/* Sidebar background */
section[data-testid="stSidebar"] {
    background-color: #ffeef6 !important;
}

/* Sidebar text */
section[data-testid="stSidebar"] * {
    color: #4a003b !important;
}



/* Hero section container */
.hero {
    text-align: center;
    padding: 120px 20px 80px;
}

/* Big title */
.hero-title {
    font-size: 80px !important;
    font-weight: 800 !important;
    letter-spacing: -1px !important;
    margin-bottom: 10px !important;
    color: #ff4f92 !important;   /* Choose your preferred color */
}

/* Subtitle */
.hero-sub {
    font-size: 26px;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 0;
    color: #333;
}


.about-content-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}